<div class="info">
  <div>
    <div class="w3-half">
      <p><h5>Lorem ipsum...</h5>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu sapien volutpat, pulvinar elit vel, condimentum est. Aenean lobortis justo vel gravida dapibus. Vivamus ullamcorper facilisis est eget porttitor. Vivamus at sapien cursus, ornare tellus suscipit, maximus felis. Vestibulum eget ex orci. Praesent dignissim nisi condimentum, efficitur urna eget, dignissim lectus. In hac habitasse platea dictumst. Curabitur dignissim erat porttitor, finibus nibh euismod, dictum massa. Suspendisse condimentum, metus id tempor consequat, turpis mauris dignissim magna, sit amet tincidunt lectus elit sed tortor. Fusce non leo lacus. 
        </p>
    </div>
    <div class="w3-half w3-center w3-padding">
        <img style="width:100%;height:auto;padding:20px;"src="/public/images/image.png"/>
      	<p>
    	    Image
    	  </p>
     </div>
  </div>
<br/>

<hr/>

<div>
<p><h5>Fusce non leo lacus. </h5></p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu sapien volutpat, pulvinar elit vel, condimentum est. Aenean lobortis justo vel gravida dapibus. Vivamus ullamcorper facilisis est eget porttitor. Vivamus at sapien cursus, ornare tellus suscipit, maximus felis. Vestibulum eget ex orci. Praesent dignissim nisi condimentum, efficitur urna eget, dignissim lectus. In hac habitasse platea dictumst. Curabitur dignissim erat porttitor, finibus nibh euismod, dictum massa. Suspendisse condimentum, metus id tempor consequat, turpis mauris dignissim magna, sit amet tincidunt lectus elit sed tortor. 

</div>

</div>
