
<div class="w3-right-align w3-text-red w3-margin-bottom">
  <p>To view/download a PDF version click
    <a class="link" href="public/cv.pdf">
      <img src="/public/images/icons/pdf_icon.png" style="max-height:30px;max-width:30px;"/>
    </a>
  </p>
</div>

    <!-- Left Column -->
    <div class="w3-third" id="CV">
      <div class="w3-white w3-text-grey">
        <div class="w3-container">
            <h2>Anca Iordache</h2>
        </div>

        <div class="w3-container">
          <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Software Engineer</p>
          <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Dublin, Ireland</p>
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>iordache.ancuta@gmail.com</p>
          <hr>

          <p class="w3-large"><b><i class="fa fa-user fa-fw w3-margin-right w3-text-teal"></i>Personal Profile</b></p>
          <div class="w3-container">
          <!--  My interests are in the domain of large scale systems with a focus on resource management and optimal application execution in clouds.
             With 10 years of activity in the domain, I can provide a practical approach to solve problems. I enjoy working in a team or on my own initiative and I can easily adapt to different work environments.
      I can easily adapt to different environments and work well under pressure.-->

      My interests are in the area of large scale distributed systems with focus on resource management and optimal
      application execution in clouds.
      As a result of working for several years with various cloud technologies, programming languages and DevOps
      tools, I am confident that I can provide a practical approach to solve problems. I enjoy working in a team or
      on my own initiative and I can easily adapt to different work environments.
          </div>
          <hr>

          <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i>Languages</b></p>

          <p>English</p>
         <div class="w3-light-grey w3-round-xlarge">
           <div class="w3-round-xlarge w3-teal w3-center" style="height:24px;width:80%">Proficient</div>
         </div>
         <p>French</p>
         <div class="w3-light-grey w3-round-xlarge w3-center">
           <div class="w3-round-xlarge w3-teal" style="height:24px;width:35%">Intermediate</div>
         </div>
         <p>Romanian</p>
         <div class="w3-light-grey w3-round-xlarge w3-center">
           <div class="w3-round-xlarge w3-teal" style="height:24px;width:100%">Native</div>
         </div>
          <br>
        </div>
      </div><br>

    <!-- End Left Column -->
    </div>


    <div class="w3-twothird">
      <!--        WORK EXPERIENCE   ---->
      <div class="w3-container w3-white w3-margin-bottom">
        <h2 class="w3-text-grey"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Professional Experience</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Senior Software Engineer / Oracle, Ireland</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Nov 2016 - Nov 2018</h6>
          <p>
            Cloud@Customer is an Oracle on-premise cloud offering. Once such a product is shipped to customers, lifecycle tools
  are employed to address product issues, upgrades and health monitoring operations. Oracle is a very conservative company -
  slow moving to adopt the latest technologies for centralized logging and monitoring/metrics delivery. This, combined with
  Oracles early cloud products being "light touch" by Oracle (customer managed) provided the landscape for the creation of
  the bespoke lifecycle tooling. In general, lifecycle tools must operate on the product non-intrusively to the customer workload.

</p><p>I was in charge of the development of a tool used for aggregating data on the cloud hardware, IaaS and PaaS services and expose
  them in an uniform format. Other lifecycle tools rely on it for patching, backing and restoring, and issue diagnosing operations.
  I have re-designed critical parts of this tool to improve performance and add more critical features in order to make it highly configurable.
  This enabled its use across different products without code changes.

</p><p>I was also involved in the credential management for lifecycle
  tools and in the automation of several patching procedures.
  Technologies employed: Docker, Python, Bash, Java, Jenkins.
          </p>
          <hr>
        </div>

        <div class="w3-container">
          <h5 class="w3-opacity"><b>Researcher / IRISA / University of Rennes 1, France</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Feb. 2013 - Jan. 2016</h6>
          <p>
            The large variety of resources provided by heterogeneous clouds enables users to execute their applications
            with different performance-cost trade-offs. However, it becomes difficult to choose a good configuration of
            resources to execute applications within given constraints.
          </p>
          <p>
            I addressed this problem with automatic performance modeling of cloud applications,
            and developed a system for automatic resource selection. Technologies used in
            the project: OpenStack, Docker, Maxeler Dataflow Engines (FPGAs).
          </p>
          <hr>
        </div>

        <div class="w3-container">
          <h5 class="w3-opacity"><b>Intern / Maxeler Technologies, UK</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>June. 2014 – Aug. 2014, Feb. 2015 – Apr. 2015</h6>
          <p>
             FPGAs are starting to be exploited by companies such as Microsoft and Intel as promising devices for high- performance
             computing. Their integration in cloud environments would allow one to increase their utilization by sharing them
             between tenants which may justify the relatively high purchase and administration costs. However, the lack of
             satisfactory techniques for sharing FPGAs is a major problem.
           </p><p>
             I addressed this problem through the design of a cloud
             architecture incorporating FPGAs and the development of a system for automatically scaling groups of FPGAs according
             to their workload.
           </p>
           <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>R&D Software Engineer / INRIA, France</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Feb. 2012 – Jan. 2013</h6>
          <p>
            Abstract interfaces providing an unified API for many different cloud providers enable users to avoid
            vendor lock-in and easily deploy execution platforms spanning multiple clouds. However, inter-cloud
            network latencies impact the performance of such platforms.
          </p>
          <p>
            I investigated the performance degradation
            when running MapReduce computations over resources provided by geographically distributed clouds. For
            this, I developed a system in Python to manage the deployment of Hadoop platforms on top of multiple
            clouds and the execution of MapReduce applications on them (<a class="link" href="http://resilin.inria.fr">http://resilin.inria.fr</a>).
            Made deployments of Nimbus, OpenNebula and OpenStack clouds on the Grid5000 testbed and tested
            different interfaces for reserving, releasing and configuring cloud resources.
           </p>
            <hr>
        </div>

        <div class="w3-container">
          <h5 class="w3-opacity"><b>Intern / INRIA, France</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>May 2011 – Aug. 2011</h6>
          <p>
            I implemented a system in Python providing an interface similar to Amazon Elastic MapReduce to deploy
Hadoop in Nimbus clouds and run MapReduce applications
          </p>
           <hr>
        </div>

        <div class="w3-container">
          <h5 class="w3-opacity"><b>Software Developer /  Internet Marketing Online, Romania</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Feb. 2008 – Apr. 2011, Sept. 2011 – Jan. 2012</h6>
          <p>
            I implemented graphical interfaces for online slot games in Borland C++ (1st year) and C#. Acquired very good
            object-oriented programming skills and got familiar with several design patterns.
          </p>
           <hr>
        </div>

      </div>

<!--        EDUCATION   ---->

      <div class="w3-container w3-white w3-margin-top">
        <h2 class="w3-text-grey"><i class="fa fa-graduation-cap fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Education</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>University of Rennes 1, France</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i> 2013 – 2016</h6>
          <p>PhD in Computer Science - <a class="link" href="http://www.theses.fr/2016REN1S045"><i>Performance - Cost Trade-offs in Heterogeneous Clouds</i></a>
            <br/>
            I addressed the problem of making good usage and choice of resources in heterogeneous clouds for executing applications according to user requirements.
          </p>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>West University of Timisoara, Romania</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2006 – 2011</h6>
          <p>MSc and BSc in Computer Science - <i>Specialization: Artificial Intelligence and Distributed computing</i></p>
        </div>
      </div>

      <!--      PUBLICATIONS   ---->
      <div class="w3-container w3-white">
        <h4 class="w3-text-grey">Publications</h4>
        <div class="w3-container">
          <p>Anca Iordache, Peter Sanders, Jose Gabriel de Figueiredo Coutinho, Mark Stillwell and Guillaume Pierre - <i>Democratizing High Performance in the cloud with FPGA Groups</i>, UCC 2016, <a href="http://dx.doi.org/10.1145/2996890.2996895">DOI: 10.1145/2996890.2996895</a></p>
          <p>Jose Gabriel de Figueiredo Coutinho, Mark Stillwell, Katerina Argyraki, George Ioannidis, Anca Iordache, Christoph Kleineweber, John McGlone - <i>The HARNESS Platform: A Hardware- and Network-Enhanced Software System for Cloud Computing</i>, Book chapter 2017, <a href="https://doi.org/10.1016/B978-0-12-805467-3.00016-8">DOI: 10.1016/B978-0-12-805467-3.00016-8</a>></p>
          <p>Anca Iordache, Eliya Buyukkaya, Guillaume Pierre - <i>Heterogeneous Resource Selection for Arbitrary HPC Applications in the Cloud </i>, DAIS 2015,<a href="http://dx.doi.org/10.1007/978-3-319-19129-4_9">DOI: 10.1007/978-3-319-19129-4 9</a></p>
          <p>Anca Iordache, Christine Morin, Nikos Parlavantzas, Eugen Feller, Pierre Riteau - <i>Resilin: Elastic MapReduce on Multiple Clouds </i>, CCGrid 2013, <a href="http://dx.doi.org/10.1109/CCGrid.2013.48">DOI: 10.1109/CCGrid.2013.48</a></p>

        </div>
      </div>

      <!--        ADDITIONAL TRAINING   ---->
      <div class="w3-container w3-white">
        <h4 class="w3-text-grey">Additional Training</h4>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>EIT Digital – Doctoral Training School on Innovation & Entrepreneurship, France</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2013 – 2016</h6>
          <p>Acquired valuable information on business management and entrepreneurship.</p>
        </div>
      </div>

    <!-- End Right Column -->
    </div>
