
{{with .Project}}
<div class="project-page">
	<div class="project-title"><h1>{{.Title}}</h1></div>
	<hr/>
	<div class="project-summary">
		{{.Summary}}
	</div>
	<hr/>
	<div class="project-body">
 	{{.Page}}
 	</div>
</div>
 {{end}}
 
